nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
   width: 100%;
   background-color: #d6dbe1;
}

  .logo {
  height: 60px;
  margin-left: 20px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 2px 1px 2px rgb(104, 102, 102); 
   }

   .special-icons {
    display: flex;
    align-items: center;
    
    }
    .other-icons:hover {
        color: #1c6aaa !important;
        }
    .special-icons :hover {
        color: #1c6aaa !important;
        }

    .iconic {
        margin-right: 10px;
    }
