


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #388696;
    color: white;
    align-items: center;
  
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }

  .profile{
    height: 150px;
    width: 150px;
}


.NavBAR{
  padding-bottom: 20px;
}


button{
  background-color: salmon;
  border-radius: 20px;
}

.wrapper{
  text-align: center;
}