footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(105, 193, 152);
    color: white;
    text-align: center;
    align-items: center;
  justify-content: space-between;
 
  }

 .profile{
    height: 150px;
    width: 150px;
}



.NavBAR{
  padding-bottom: 20px;
}




.wrapper{
  text-align: center;
}