footer {
    position: fixed;
    width: 100%;
    height: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(105, 193, 152);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    clear: both;
    opacity: 0.9;
 
  }

 .profile{
    height: 150px;
    width: 150px;
}








.wrapper{
  text-align: center;
}

